# Node modules
/dist
/node_modules
/build

# Build output


# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.local
.env.*.local

# Editor folders
.vscode/
.idea/


# Output of Vite
*.local
